{% extends 'base.html' %}

{% block title %}포트폴리오 상세 정보{% endblock %}

{% block content %}
<h2>{{ portfolio.name }} 포트폴리오</h2>

<p><strong>생성일:</strong> {{ portfolio.created_at|date:"Y-m-d" }}</p>

<h3>포트폴리오에 포함된 주식</h3>

<table>
    <thead>
        <tr>
            <th>주식</th>
            <th>수량</th>
            <th>구매 가격</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in portfolio_stocks %}
        <tr>
            <td>{{ stock.stock.ticker }}</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.purchase_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'portfolio:portfolio_update' portfolio.pk %}" class="btn btn-secondary">포트폴리오 수정</a>
<a href="{% url 'portfolio:portfolio_delete' portfolio.pk %}" class="btn btn-danger">포트폴리오 삭제</a>
<a href="{% url 'portfolio:portfolio_list' %}" class="btn btn-secondary">목록으로 돌아가기</a>
{% endblock %}