{% extends 'base.html' %}

{% block title %}{{ stock_info.longName }} 재무제표{% endblock %}

{% block content %}
<h1>{{ stock_info.longName }} 재무제표</h1>

<h2>손익계산서</h2>
<table>
    <tr>
        <th>Metric</th>
        {% for date in financials.columns %}
            <th>{{ date|date:"Y-m-d" }}</th>
        {% endfor %}
    </tr>
    {% for index, row in financials.iterrows %}
        <tr>
            <td>{{ index }}</td>
            {% for value in row %}
                <td>{{ value|floatformat:2 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h2>재무상태표</h2>
<table>
    <tr>
        <th>Metric</th>
        {% for date in balance_sheet.columns %}
            <th>{{ date|date:"Y-m-d" }}</th>
        {% endfor %}
    </tr>
    {% for index, row in balance_sheet.iterrows %}
        <tr>
            <td>{{ index }}</td>
            {% for value in row %}
                <td>{{ value|floatformat:2 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h2>현금흐름표</h2>
<table>
    <tr>
        <th>Metric</th>
        {% for date in cash_flow.columns %}
            <th>{{ date|date:"Y-m-d" }}</th>
        {% endfor %}
    </tr>
    {% for index, row in cash_flow.iterrows %}
        <tr>
            <td>{{ index }}</td>
            {% for value in row %}
                <td>{{ value|floatformat:2 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}