{% extends 'base.html' %}

{% block title %} {{ stock_info.longName }} {% endblock %}

{% block content %}
<h1>{{ stock_info.longName }}</h1>
<p>티커: {{ stock_info.symbol }}</p>
<p>섹터: {{ stock_info.sector }}</p>
<p>산업: {{ stock_info.industry }}</p>
<p>국가: {{ stock_info.country }}</p>
<p>홈페이지: <a href="{{ stock_info.website }}">{{ stock_info.website }}</a></p>

<a href="{% url 'stocks:news' ticker=stock_info.symbol %}">뉴스 보기</a>
<a href="{% url 'stocks:chart' ticker=stock_info.symbol %}">차트 보기</a>
<a href="{% url 'stocks:financials' ticker=stock_info.symbol %}">재무 정보 보기</a>
<a href="{% url 'forum:forum_list' ticker=stock_info.symbol %}" class="btn btn-primary">
    토론방 가기
</a>

<h2>Business Summary</h2>
<p>{{ stock_info.longBusinessSummary }}</p>
{% endblock %}