<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}STALK{% endblock %}</title>
</head>
<body>
    <main>
        {% block content %}
        <!-- 각 페이지의 콘텐츠가 여기에 삽입됩니다. -->
        {% endblock %}
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    <li><a href="{% url 'signup' %}">회원가입</a></li>
                {% endif %}
            </ul>
        </nav>
    </main>
</body>
</html>
