<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}STALK{% endblock %}</title>
</head>
<body>
    <header>
        <h1>미국 주식 커뮤니티 <a href="{% url 'home' %}" class="no-underline">STALK</a></h1>
    </header>
    <main>
        {% block content %}
            {% if user.is_authenticated %}
                <a href="{% url 'stocks:search' %}" class="btn">주식 검색 페이지로 이동</a>
                <a href="{% url 'portfolio:portfolio_list' %}" class="btn">포트폴리오 만들기</a>
                <a href="{% url 'profile' %}" class="btn btn-secondary">프로필 설정</a>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <nav>
                    <ul>
                        <li><a href="{% url 'login' %}">로그인</a></li>
                        <li><a href="{% url 'signup' %}">회원가입</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endblock %}
    </main>
</body>
</html>