{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>By {{ post.author }} on {{ post.created_at }}</p>
<p>{{ post.content }}</p>

<a href="{% url 'forum:post_update' ticker=ticker post_id=post.id %}">포스트 수정하기</a>
<a href="{% url 'forum:post_delete' ticker=ticker post_id=post.id %}">포스트 삭제</a>

<h2>댓글</h2>
{% include 'forum/post_comment_list.html' %}
<a href="{% url 'forum:post_comment_create' ticker=ticker post_id=post.id %}">댓글 작성하기</a>

<a href="{% url 'forum:forum_list' ticker=ticker %}">돌아가기</a>
{% endblock %}